extends up
block content
        html
                head
                body
                        h1= "Profile for " + featured[0].username

                        p= "Total Quizzes: " + featured[0].total_quizzes
                        p= "Average Score: " + featured[0].average
                       


                